* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-container {
    background-color: #222222;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1022;
    height: 60px;
    padding: 0 10vw;
}

.nav_main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

.nav_main--title {
    font-size: 28px;
    letter-spacing: 0.02em;
    font-weight: 600;
    margin: 0;
    padding: 8px 0;
}

.nav_brand {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s linear;
}

    .nav_brand:hover {
        text-decoration: none;
        color: rgba(199,199,199,0.9);
    }

.nav_main--links {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    padding: 0;
    margin: 0;
    height: 60px;
}

    .nav_main--links li {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav_main--links a {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;
        transition: all 0.3s linear;
        height: 100%;
        letter-spacing: 0.02em;
        font-weight: 500;
    }

        .nav_main--links a:hover {
            background-color: #090909;
            color: #fff;
            text-decoration: none;
        }

.body-container {
    padding: 10px 10vw;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
}

.task-container {
    background-color: #222222;
    border-radius: 12px;
    box-shadow: 4px 2px 8px #eee, -4px -2px 8px #eee;
    padding: 16px 18px;
    transition: all 0.3s linear;
    position: relative;
    min-height: 220px;
    cursor: pointer;
}

    .task-container a {
        text-decoration: none;
    }

    .task-container:hover {
        background-color: #090909;
        transform: scale(1.01);
    }

    .task-container * {
        color: #FFF;
    }

.task-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-header {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    user-select: none;
}

.status-missed, .status-completed, .status-progress {
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
    color: #090909;
    user-select: none;
}

.status-missed {
    background-color: #be0027;
}

.status-completed {
    background-color: #279b37;
}

.status-progress {
    background-color: #ffd900;
}

.task-detail-container {
    width: 100%;
    background-color: #222222;
    padding: 15px 20px;
    border-radius: 12px;
    position: relative;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .task-detail-container * {
        color: #FFF;
    }

    .task-detail-container .status-missed, .task-detail-container .status-completed, .task-detail-container .status-progress {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        font-weight: bold;
        font-size: 13px;
        border-radius: 4px;
        color: #090909;
        user-select: none;
    }

.task-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.task-users, .task-dates {
    flex: 0.5;
}
