

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task Management System - Page Not Found</title>
    <link href="~/Content/Form.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2 style="text-align: center; color: red;">The page you are looking is not available right now :(</h2>
    <div style="width: 100%;display: flex;align-items: center;justify-content: center;">
        @Html.ActionLink("Back to Home", "Index", "Home", "", new { @style = "text-align: center; color:#279b37; font-weight: 600" })
    </div>
</body>
</html>